.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas: 
  'h h'
  'n c'
  'f f';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  background-color: rgb(163, 241, 241);
  grid-area: h;
}

.header img {
  width: 60px;
}

.nav {
  background-color: beige;
  grid-area: n;
}

.content {
  background-color: bisque;
  grid-area: c;
}

.footer {
  background-color: darkkhaki;
  grid-area: f;
}